.question p 
{
	color: #636363;
	font-size: 14px;
}
.question a 
{
	text-decoration:none; 
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	color: #1b609c;

}
.question{
	-webkit-box-shadow: 2px 2px 20px -2px rgba(0,0,0,0.73);
-moz-box-shadow: 2px 2px 20px -2px rgba(0,0,0,0.73);
box-shadow: 2px 2px 20px -2px rgba(0,0,0,0.73);

}
